/* .rbc-button-group {
    visibility: hidden;
    border: 10px solid red;
} */

.rbc-allday-cell {
    display: none
}

.rbc-row-bg {
    display: none
}

.schedulescroller {
    /* background: #000;
     */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.scrollerstatus {
    margin: 0 10px;
}

.rbc-timeslot-group {
    height: 300px !important;
}

.event-txt {
    font-size: 10px;
    margin: 0px;
}

.walking-warning {
    color: pink
}