/* Uncomment if you need to hide the button group, and remove the border unless it's for debugging purposes
.rbc-button-group {
    visibility: hidden;
    border: 10px solid red;
}
*/
.rbc-time-header-gutter{
    background-color: rgba(255, 255, 255, 0.8);

}
.rbc-header {
   
    background-color: rgba(255, 255, 255, 0.8);
}
.rbc-allday-cell {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
}


.rbc-row-bg {
   
    background-color: rgba(255, 255, 255, 0.8);
}


.schedulescroller {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.8);
}

.numCombinationsTextContainer {
    background-color: rgba(255, 255, 255, 0.8);
}


.scrollerstatus {
    margin: 0 10px;
}


.rbc-timeslot-group {
    height: 300px !important;
}


.rbc-time-content {
    
    background-color: rgba(255, 255, 255, 0.8);
}

.rbc-day-slot .rbc-time-slot {
    
    background-color: rgba(255, 255, 255, 0.8);
}


.rbc-event {
    background-color: #3174ad; 
    border-color: #265985; 
    color: white; 
}

.customToolbar {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 10px; /* Adjust as needed for spacing */
  }
.walking-warning {
    color: #780000;
}

.event-txt {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
