.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scheduleInfoContainer{
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content:space-between;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}

.unavailabilityContainer {
  display:inline-flex;
  margin: 0 5px;
  background-color: burlywood;
  border: 1px solid green
}

.unavailabilitiesList {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
  flex-direction: row;

  border: 1px solid red;
  border-radius: 10px;
}

.noUnavailabilitiesText {
  width: 100%;
}

button {
  border-radius: 10%;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.unavailabilitySelectorsContainer {
  width: 50%;
  border: 2px solid pink;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  overflow: hidden;
}

.unavailabilitySelectorsContainer button {
  width: 50%;
}
.unavailabilitySelectorsContainer select {
  width: 50%
}

.radioContainer {
  display: flex;
  flex-direction: column;
}

.courseCollectorContainer {
  border: 1px solid blue;
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 20px;
  padding: 0 0 15px 0;
}

.course {
  border: 1px solid green;
  display: inline;
  margin: 0 auto;
}
.courselist {
  margin-top: 10px;
}


